* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root {
  --glass: rgba(255, 255, 255, 0.303);
  --modal-overlay: rgba(244, 244, 246, 0.5);
  --dun-red-disabled: rgb(220, 182, 185);
  --white: rgb(244, 244, 246);
  --whiteClear: rgba(244, 244, 246, 0.8);
  --clear: rgba(244, 244, 246, 0.2);
  --dark-text: #343633;
  --grey: rgb(226, 226, 226);
  --greyClear: rgba(226, 226, 226, 0.8);
  --shadow-nav: 3px 2px 20px 10px rgba(82, 82, 82, 0.35);
  --shadow-hov: 3px 2px 20px 13px rgba(82, 82, 82, 0.35);
  --shadow-icon: 3px 2px 25px 5px rgba(82, 82, 82, 0.35);
  --blur: blur(0.5em);

  --main: #9e2933;
  --main-25: rgba(158, 41, 51, 0.25);

  --light: #f2f2ec;
  --light2: rgba(242, 242, 236, 0.6);
  --light4: rgba(242, 242, 236, 0.4);
  --light-acc: #b4908d;
  --dark-acc: #ae895d;
  --dark: #212935;
  --dark2: #1a161c;
}
